a:hover {
  font-size: 120%;
}
.products_card h3 {
  font-size: $price-size;
  margin: 5px 5px 10 10px;
  height:45px;
  display: inline-block;
  border-radius: 10px;
  padding: 8 25px 0 15px;
  background:#cc181e;
  border: 0 solid #C7D2D4;
  border-top-width:1px;
  border-bottom-width:1px;
  color:#fff;
  line-height:23px;
}
//komment
.product_card h4 {
  font-size: $headline-size;
  font-family:$main-font;
  padding-left: 20px;
  padding-top: 5px;
}
