$main-color: #cc181e;
$hover-color: rgba(0, 0, 0, .3);
$pricing-font: 'Playfair Display', serif;
$description-font: 'Source Serif Pro', serif;
$description-size: 16px;
$pricing-size: 20px;
$price-size: 24px;
